@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


:root {
  --nutmeg: hsl(14, 45%, 36%);
  --heading-color: hsl(332, 51%, 32%);
  --container-color: hsl(0, 0%, 100%);
  --body-color: hsl(330, 100%, 98%);
  --bg-color: hsl(30, 54%, 90%);
  --text2-color: hsl(30, 18%, 87%);
  --light-gray-color: hsl(30, 10%, 34%);
  --text-color: hsl(24, 5%, 18%);

}

* {   /* asterisk means it's universally applied */
  /* It's a good practice to apply box-sizing so that when you apply any border or padding to an element, it doesn't affect the width of it */
  box-sizing: border-box;
}


body {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  /* Every browser comes with it's own margins,  so it is good practice to set the body margin to 0 */
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
  word-wrap: break-word;
  
}

@media screen and (max-width: 600px) {
  body {
    background-color: var(--container-color);
    
  }
}

h2 {
  color: var(--heading-color);
}

.container {
  /* You can use  background-color or background for the background color */
  background-color: var(--container-color);
  margin: 10% 25% 10% 25%;
  padding: 30px;
  border-radius: 20px;
  max-width: 1440px;
}

@media screen and (max-width: 600px)  {
  .container {
    margin: 1% 5% 0% 5%;
    padding: 10px;
    border-radius: 20px;
    max-width: 1440px;
  }
}

.omelette-img {
  border-radius: 20px;
  width: 100%;
}

.prep-time {
  background-color: var(--body-color);
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
}

li::marker {
  color: var(--heading-color);
}

table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders between cells collapse */
}

tr {
  border-bottom: 1px solid var(--text-color);
  padding: 0;
  margin: 0;
}
/* This works as well as long as the add border-collapse to the table
td {
  border-bottom: 1px solid var(--bg-color);
  padding: 0;
  margin: 0;
}*/

tr td:nth-child(2) {
  color: var(--heading-color);
}

tr:last-child {
  border-bottom: none;
}

.attribution { 
  margin-top: 10px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

